<!DOCTYPE html>
<HEAD><TITLE>Nato Phonetic Alphabet</TITLE>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</HEAD><BODY>
<TABLE border="1" col="16% 16% 16% 16% 16% 16%"><TR>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Alpha</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/alpha.wav">
    [<b>AL</b> FAH]<br/>/ˈælfæ/</a></font></td></tr>
    <tr><td>(&bull; &ndash;)</td><td colspan=2 align=right>
    <font size=-1>diver down keep clear</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_alpha.png" width=50 height=50/>
    <img src="../static/images/asl_alpha.png" width=50 height=50/>
    <img src="../static/images/braille_alpha.png" width=30 height=50/> <!-- 88 149 -->
    <img src="../static/images/flag_alpha.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><B>Bravo</b>&nbsp;&nbsp;</font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/bravo.wav">
    [<b>BRAH</b> VOH]<br/>/ˈbrævoʊ/</a></font></td></tr>
    <tr><td>(&ndash; &bull; &bull; &bull;)</td><td colspan=2 align=right>
    <font size=-1>dangerous cargo</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_bravo.png" width=50 height=50/>
    <img src="../static/images/asl_bravo.png" width=50 height=50/>
    <img src="../static/images/braille_bravo.png" width=30 height=50/>
    <img src="../static/images/flag_bravo.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Charlie</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/charlie.wav">
    [<b>CHAR</b> LEE]<br/>/ˈtʃɑ:rli/</a></font></td></tr>
    <tr><td>(&ndash; &bull; &ndash; &bull;)</td><td colspan=2 align=right>
    <font size=-1>yes</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_charlie.png" width=50 heigth=50/>
    <img src="../static/images/asl_charlie.png" width=50 heigth=50/>
    <img src="../static/images/braille_charlie.png" width=30 height=50/>
    <img src="../static/images/flag_charlie.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Delta</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/delta.wav">
    [<b>DELL</b> TAH]<br/>/ˈdeltə/</a></font></td></tr>
    <tr><td>(&ndash; &bull; &bull;)</td><td colspan=2 align=right>
    <font size=-1>keep clear</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_delta.png" width=50 height=50/>
    <img src="../static/images/asl_delta.png" width=50 height=50/>
    <img src="../static/images/braille_delta.png" width=30 height=50/>
    <img src="../static/images/flag_delta.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="20%">
    <font color="ff0000" size="+2"><b>Echo</b></font>
    <b>(&bull;)
    </td><td width="10%"></td></td>
    <td width="80%"><font size=-1><a href="../static/sounds/echo.wav">
    [<b>ECK</b> OH]<br/>/ˈekoʊ/</a><br/><font size=-1>altering course to starboard</font>
    </td></tr>
    <!-- tr><td>(&bull;)</td><td colspan=2 align="right">
    <font size=-1>altering course to starboard</font></td></tr -->	
    <tr><td colspan=3>	
    <img src="../static/images/semaphore_echo.png" width=50 heigth=50/>
    <img src="../static/images/asl_echo.png" width=50 height=50/>
    <img src="../static/images/braille_echo.png" width=30 height=50/>
    <img src="../static/images/flag_echo.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Foxtrot</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/foxtrot.wav">
    [<b>FOKS</b> TROT]<br/>/ˈfɑ:kstrɑ:t/</a></td></tr>
    <tr><td>(&bull; &bull; &ndash; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>disabled</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_foxtrot.png" width=50 height=50/>
    <img src="../static/images/asl_foxtrot.png" width=50 height=50/>
    <img src="../static/images/braille_foxtrot.png" width=30 height=50/>
    <img src="../static/images/flag_foxtrot.png" width=50 height=50/>
    </td></tr></table></TD>
</tr><tr>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Golf</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/golf.wav">
    [GOLF]<br/>/gɑ:lf/</a></td></tr>
    <tr><td>(&ndash; &ndash; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>want a pilot</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_golf.png" width=50 height=50/>
    <img src="../static/images/asl_golf.png" width=50 height=50/>
    <img src="../static/images/braille_golf.png" width=30 height=50/>
    <img src="../static/images/flag_golf.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top" width="16%">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Hotel</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/hotel.wav">
    [HO <b>TELL</b>]<br/>/ˈhoʊtel/</a></td></tr>
    <tr><td>(&bull; &bull; &bull; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>pilot on board</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_hotel.png" width=50 height=50/>
    <img src="../static/images/asl_hotel.png" width=50 height=50/>
    <img src="../static/images/braille_hotel.png" width=30 height=50/>
    <img src="../static/images/flag_hotel.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>India</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/india.wav">
    [<b>IN</b> DEE AH]<br/>/ˈɪndiə/</a></td></tr>
    <tr><td>(&bull; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>alternating course to port</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_india.png" width=50 heigth=50/>
    <img src="../static/images/asl_india.png" width=50 height=50/>
    <img src="../static/images/braille_india.png" width=30 height=50/>
    <img src="../static/images/flag_india.png" width=50 height=50/>
    </td></tr></table></TD>
<td valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Juliet</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/juliet.wav">
    [<b>JEW</b> LEE ET]<br/>/ˈdʒu:liet/</a></td></tr>
    <tr><td>(&bull; &ndash; &ndash; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>on fire keep clear</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_juliet.png" width=50 height=50/>
    <img src="../static/images/asl_juliet.png" width=50 height=50/>
    <img src="../static/images/braille_juliet.png" width=30 height=50/>
    <img src="../static/images/flag_juliet.png" width=50 height=50/>
    </td></tr></table></td>
<td valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Kilo</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/kilo.wav">
    [<b>KEY</b> LOH]<br/>/ˈki:ləʊ/</a></td></tr>
    <tr><td>(&ndash; &bull; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>desire to communicate</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_kilo.png" width=50 heigth=50/>
    <img src="../static/images/asl_kilo.png" width=50 height=50/>
    <img src="../static/images/braille_kilo.png" width=30 height=50/>
    <img src="../static/images/flag_kilo.png" width=50 height=50/>
    </td></tr></table></TD>
<td valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Lima</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/lima.wav">
    [<b>LEE</b> MAH]<br/>/ˈli:mə/</a></td></tr>
    <tr><td>(&bull; &ndash; &bull; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>stop instantly</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_lima.png" width=50 height=50/>
    <img src="../static/images/asl_lima.png" width=50 height=50/>
    <img src="../static/images/braille_lima.png" width=30 height=50/>
    <img src="../static/images/flag_lima.png" width=50 height=50/>
    </td></tr></table></td>
</tr><tr>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Mike</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/mike.wav">
    [MIKE]<br/>/maɪk/</a></td></tr>
    <tr><td>(&ndash; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>I am stopped</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_mike.png" width=50 height=50/>
    <img src="../static/images/asl_mike.png" width=50 height=50/>
    <img src="../static/images/braille_mike.png" width=30 height=50/>
    <img src="../static/images/flag_mike.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="55%">
    <font color="ff0000" size="+2"><b>November</b></font></td>
    </td><td width="45%"><font size=-1><a href="../static/sounds/november.wav">
    [NO&nbsp;<b>VEM</b> BER]<br/>/noʊˈvembər/</a></td></tr>
    <tr><td>(&ndash; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>No</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_november.png" width=50 height=50/>
    <img src="../static/images/asl_november.png" width=50 height=50/>
    <img src="../static/images/braille_november.png" width=30 height=50/>
    <img src="../static/images/flag_november.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Oscar</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/oscar.wav">
    [<b>OSS</b> CAH]<br/>/ˈɑ:skər/</a></td></tr>
    <tr><td>(&ndash; &ndash; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>man overboard</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_oscar.png" width=50 height=50/>
    <img src="../static/images/asl_oscar.png" width=50 height=50/>
    <img src="../static/images/braille_oscar.png" width=30 height=50/>
    <img src="../static/images/flag_oscar.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Papa</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/papa.wav">
    [PAH <b>PAH</b>]<br/>/ˈpɑ:pə/</a></td></tr>
    <tr><td>(&bull; &ndash; &ndash; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>about to sail</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_papa.png" width=50 height=50/>
    <img src="../static/images/asl_papa.png" width=50 heigth=50/>
    <img src="../static/images/braille_papa.png" width=30 height=50/>
    <img src="../static/images/flag_papa.png" width=50 heigth=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Quebec</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/quebec.wav">
    [KEH <b>BECK</b>]<br/>/kwɪˈbek/<aa></td></tr>
    <tr><td>(&ndash; &ndash; &bull; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>request practique</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_quebec.png" width=50 height=50/>
    <img src="../static/images/asl_quebec.png" width=50 height=50/>
    <img src="../static/images/braille_quebec.png" width=30 height=50/>
    <img src="../static/images/flag_quebec.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="40%">
    <font color="ff0000" size="+2"><b>Romeo</b></font>
    <br>(&bull; &ndash; &bull;)</td>
    </td><td width="60%"><font size=-1><a href="../static/sounds/romeo.wav">
    [<b>ROW</b> ME OH]<br/>/ˈroʊmioʊ/</a><br/><font size=-1>do not pass ahead of me</font>
    </td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_romeo.png" width=50 heigth=50/>
    <img src="../static/images/asl_romeo.png" width=50 height=50/>
    <img src="../static/images/braille_romeo.png" width=30 height=50/>
    <img src="../static/images/flag_romeo.png" width=50 height=50/>
    </td></tr></table></TD>
</tr><tr>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Sierra</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/sierra.wav">
    [SEE <b>AIR</b>&nbsp;AH]<br/>/siˈerə/</a></td></tr>
    <tr><td>(&bull; &bull; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>engines going astern</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_sierra.png" width=50 height=50/>
    <img src="../static/images/asl_sierra.png" width=50 height=50/>
    <img src="../static/images/braille_sierra.png" width=30 height=50/>
    <img src="../static/images/flag_sierra.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Tango</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/tango.wav">
    [<b>TANG</b> GO]<br/>/ˈtæŋgoʊ/</a></td></tr>
    <tr><td>(&ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>keep clear</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_tango.png" width=50 height=50/>
    <img src="../static/images/asl_tango.png" width=50 height=50/>
    <img src="../static/images/braille_tango.png" width=30 height=50/>
    <img src="../static/images/flag_tango.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Uniform</b></font>
    <br/>(&bull; &bull; &ndash;)
    </td><td width="0%"></td>
    </td><td width="80%"><font size=-1><a href="../static/sounds/uniform.wav">
    [<b>YOU</b>&nbsp;NE&nbsp;FORM]<br/>/ˈju:nɪfɔ:rm/</a>
    <br/><font size=-1>standing into danger</font>
    </td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_uniform.png" width=50 height=50/>
    <img src="../static/images/asl_uniform.png" width=50 height=50/>
    <img src="../static/images/braille_uniform.png" width=30 height=50/>
    <img src="../static/images/flag_uniform.png" width=50 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Victor</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/victor.wav">
    [<b>VIK</b> TAH]<br/>/ˈvɪktər/</a></td></tr>
    <tr><td>(&bull; &bull; &bull; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>request assistance</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_victor.png" width=50 height=50/>
    <img src="../static/images/asl_victor.png" widht=50 height=50 />
    <img src="../static/images/braille_victor.png" width=30 height=50/>
    <img src="../static/images/flag_victor.png" widht=50 height=50 />
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="10%">
    <font color="ff0000" size="+2"><b>Whiskey</b></font>
    <br/>(&bull; &ndash; &ndash;)</td><td width="10%"></td>
    </td><td width="80%"><font size=-1><a href="../static/sounds/whiskey.wav">
    [<b>WISS</b> KEY]<br/>/ˈwɪski/</a></td></tr>
    <tr>
    <td colspan=3 align="right">
    <font size=-1>request medical assistance</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_whiskey.png" width=50 heigth=50/>
    <img src="../static/images/asl_whiskey.png" width=50 height=50/>
    <img src="../static/images/braille_whiskey.png" width=30 height=50/>
    <img src="../static/images/flag_whiskey.png" width=50 height=50/>
    </td></tr></table></TD>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Xray</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/xray.wav">
    [<b>ECKS</b> RAY]<br/>/ˈeksreɪ/</a></td></tr>
    <tr><td>(&ndash; &bull; &bull; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>stop your intension</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_xray.png" width=50 height=50/>
    <img src="../static/images/asl_xray.png" width=50 height=50/>
    <img src="../static/images/braille_xray.png" width=30 height=50/>
    <img src="../static/images/flag_xray.png" width=50 height=50/>
    </td></tr></table></td>
</tr><tr>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Yankee</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/yankee.wav">
    [<b>YANG</b> KEY]<br/>/ˈjæŋki/</a></td></tr>
    <tr><td>(&ndash; &bull; &ndash; &ndash;)</td>
    <td colspan=2 align="right">
    <font size=-1>am dragging anchor</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_yankee.png" width=50 height=50/>
    <img src="../static/images/asl_yankee.png" width=50 height=50 />
    <img src="../static/images/braille_yankee.png" width=30 height=50/>
    <img src="../static/images/flag_yankee.png" width=50 height=50 />
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="30%">
    <font color="ff0000" size="+2"><b>Zulu</b></font></td><td width="20%"></td>
    </td><td width="50%"><font size=-1><a href="../static/sounds/zulu.wav">
    [ZOO LOO]<br/>/ˈzu:lu:/</a></td></tr>
    <tr><td>(&ndash; &ndash; &bull; &bull;)</td>
    <td colspan=2 align="right">
    <font size=-1>require a tug</font></td></tr>
    <tr><td colspan=3>
    <img src="../static/images/semaphore_zulu.png" width=50 height=50/>
    <img src="../static/images/asl_zulu.png" width=50 height=50 />
    <img src="../static/images/braille_zulu.png" width=30 height=50/>
    <img src="../static/images/flag_zulu.png" width=50 height=50 />
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>0</b></font></td>
    <td width="35%">(&ndash; &ndash; &ndash; &ndash; &ndash;)</td>
    <td width="50%"><img src="../static/images/flag_zero.png" width=67 height=38/></td>
    </tr><tr><td colspan=3>
    <img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_kilo.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_zero.png" width=30 height=50/>	
    </td></tr></table></td>
    <!-- 81=3*3*9=67 45=3*3*5=38 -->
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>1</b></font></td>
    <td width="35%">(&bull; &ndash; &ndash; &ndash; &ndash;)</td>
    <td width="50%"><img src="../static/images/flag_one.png" width=67 height=38/></td>
    </tr><tr><td colspan=3>
    <img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_alpha.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_one.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>2</b></font></td>
    <td width="35%">(&bull; &bull; &ndash; &ndash; &ndash;)</td>
    <td width="50%"><img src="../static/images/flag_two.png" width=67 height=38/></td>
    </tr><tr><td colspan=3>
    <img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_bravo.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_two.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>3</b></font></td>
    <td width="35%">(&bull; &bull; &bull; &ndash; &ndash;)</td>
    <td width="50%"><img src="../static/images/flag_three.png" width=67 height=38/></td>
    </tr><tr><td colspan=3>
    <img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_charlie.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_three.png" width=30 height=50/> 
    </td></tr></table></td>
</tr><tr>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>4</b></font></td>
    <td width="35%">(&bull; &bull; &bull; &bull; &ndash;)</td>
    <td width="50%"><img  src="../static/images/flag_four.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_delta.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_four.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>5</b></font></td>
    <td width="35%">(&bull; &bull; &bull; &bull; &bull;)</td>
    <td width="50%"><img src="../static/images/flag_five.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_echo.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_five.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>6</b></font>
    <td width="35%">(&ndash; &bull; &bull; &bull; &bull;)</td>
    <td width="50%"><img src="../static/images/flag_six.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_foxtrot.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_six.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>7</b></font>
    <td width="35%">(&ndash; &ndash; &bull; &bull; &bull;)</td>
    <td width="50%"><img src="../static/images/flag_seven.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_golf.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_seven.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>8</b></font>
    <td width="35%">(&ndash; &ndash; &ndash; &bull; &bull;)</td>
    <td width="50%"><img src="../static/images/flag_eight.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_hotel.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_eight.png" width=30 height=50/>
    </td></tr></table></td>
<TD valign="top">
    <table width="100%"><tr valign="top"><td width="15%">
    <font color="ff0000" size="+2"><b>9</b></font>
    <td width="35%">(&ndash; &ndash; &ndash; &ndash; &bull;)</td>
    <td width="50%"><img src="../static/images/flag_nine.png" width=67 height=38/></td></tr><tr>
    <td colspan=3><img src="../static/images/semaphore_number.png" width=40 height=40/>
    <img src="../static/images/semaphore_india.png" width=40 height=40/>
    <img src="../static/images/braille_number.png" width=30 height=50/>
    <img src="../static/images/braille_nine.png" width=30 height=50/>
    </td></tr></table></td>
</tr></table>

<table><tr><td width="85%">

&nbsp;<big><big><big><table border="0" col="16% 16% 16% 16% 16% 16%" width="70%">
<tr><td width="16%">Alpha</td><td width="16%">Bravo</td><td width="16%">Charlie</td>
<td width="16%">Delta</td><td width="16%">Echo</td><td width="16%">Foxtrot</td></tr>
<tr><td>Golf</td><td>Hotel</td><td>India</td><td>Juliett</td><td>Kilo</td><td>Lima</td></tr>
<tr><td>Mike</td><td>November</td><td>Oscar</td><td>Papa</td><td>Quebec</td><td>Romeo</td></tr>
<tr><td>Sierra</td><td>Tango</td><td>Uniform</td><td>Victor</td><td>Whiskey</td><td>Xray</td></tr>
<tr><td>Yankee</td><td>Zulu</td></tr></table></big></big></big>

</td><td>&nbsp;</td><td>In 1957 
NATO gathered military, radio, aviation and seamanship together,
and had everyone agree to this unified single phonetic alphabet.</td></tr></table>

<!-- p><table cellpadding=5 width="92%"><tr>
<td><font size="+2">Alpha</font></td>  <td><font size="+2">Bravo</font></td>
<td><font size="+2">Charlie</font></td><td><font size="+2">Delta</font></td>
<td><font size="+2">Echo</font></td>   <td><font size="+2">Foxtrot</font></td>
<td><font size="+2">Golf</font></td>   <td><font size="+2">Hotel</font></td>
<td><font size="+2">India</font></td>
<td rowspan=3>&nbsp;&nbsp;&nbsp;</td>
<td rowspan=3>
<big><b>Nato Phonetic Alphabet</b></big>
Used by military, aviation, radio, and 
maritime.
International Radiotelephony Spelling 
Alphabet (IRSA) was it's formal name originally. 
Created by the International Civil Aviation Organization (ICAO).
Many different  
words were used until this
standard alphabet was established in 1957 and adopted by NATO.
It's been the standard set of words 
used by everone since 1957.
The pronounciation aid in [black] is from the FAA.
</td>
</tr><tr>
<td><font size="+2">Juliet</font></td><td><font size="+2">Kilo</font></td>
<td><font size="+2">Lima</font></td>  <td><font size="+2">Mike</font></td>
<td><font size="+2">November</font></td>
<td><font size="+2">Oscar</font></td> <td><font size="+2">Papa</font></td>
<td><font size="+2">Quebec</font></td><td><font size="+2">Romeo</font></td>
</tr><tr>
<td><font size="+2">Sierra</font></td> <td><font size="+2">Tango</font></td>
<td><font size="+2">Uniform</font></td><td><font size="+2">Victor</font></td>
<td><font size="+2">Whiskey</font></td>
<td><font size="+2">Xray</font></td>   <td><font size="+2">Yankee</font></td>
<td><font size="+2">Zulu</font></td>
</tr></table -->
</BODY></HTML>
